@(title: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/dishes.css")'>

	<!-- Javascript Routes -->
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
		<script>
		function readCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
					var c = ca[i];
					while (c.charAt(0)==' ') c = c.substring(1,c.length);
					if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			}
			return null;
		}
			$(document).ready(function(){
				$('#loginedAs').html("Currently logged in as " + (readCookie('username') || "customer"));
			});
		</script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fooberNav">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand navLogo" href="/">Foober</a>
			</div>
			<div class="collapse navbar-collapse" id="fooberNav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" id="loginedAs" style="pointer-events:none;"></a></li>
					<li onclick="document.cookie='username=customer; path=/'; location.reload();"><a href="#"><span class="glyphicon glyphicon-user"></span> Customer Login</a></li>
					<li onclick="document.cookie='username=cook; path=/'; location.reload();"><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Cook Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container text-center">
		<div class="greeting"><h3>Good afternoon, here are some delicious dishes near you.</h3></div><br>
		<div class="card-deck-wrapper" id="card-wrapper">

		</div>
	</div><br>

	<!--Modal-->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="foodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<img  id="modal-top-img" class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="short-div foodNameModal" id="modal-title"></div>
								<div class="short-div creatorModal" id="modal-provider"></div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
								<div class="priceModal" id="modal-price"></div>
								<div class="arrivalModal">Arrives within 30 min</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-5 col-xs-7">
								<div class="short-div foodDescTitleModal" id="modal-description"></div>
								<div class="short-div foodDescModal"><p id="modal-ingradients"></p></div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-7 col-xs-5 imgCover"><img id="modal-low-img" class="img-responsive foodImg" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline" id="orderBtn">Order now</button>
									<p class="card-text"><small class="text-muted">15 min left</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!--Modal-->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="orderModal" role="document">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<img id="order-img" class="card-img-top img-responsive" src="http://placehold.it/150x80?textsrc=IMAGE" style="width:100%" alt="Food pic">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="short-div"><p style="font-size: 20px">Place a new order</p></div>
								<div class="short-div">
									<p style="margin: 0">Where to deliver? <span style="font-size: 10px">(Please be specific)</span></p>
									<textarea rows="3" style="width: 100%"></textarea>

									<div class="short-div" style="margin: 0"><p>Tip amount:</p></div>
									<div class="addDishTitle"><input class="btn btn-default addDishTitle" type="button" value="-" onclick="decrementTip()"><span id='tipAmount'>20</span><input class="btn btn-default addDishTitle" type="button" value="+" onclick="incrementTip()"> %</div>
									<div>
										<p style="margin: 0">Few words to the chef:</p>
										<input type="text" />
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
								<div class="short-div"><img src='@routes.Assets.versioned("images/order_details.png")' width="100%"/></div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-danger-outline" onclick="dismissOrderModal()">Cancel</button>
									<button type="button" class="btn btn-success-outline" onclick="placeOrder()">Place order</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!--Modal-->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="loadingModal" role="document">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card-block">
						<div class="row" id="loadingStatus">
							Loading...
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->




	<footer class="container-fluid text-center">
		<p>© Foober 2016</p>
	</footer>

	<!-- Custom JavaScript -->
	<script src="@routes.Assets.versioned("javascripts/dishes.js")"></script>

</body>
</html>
