@(message: String)

@main("Foober - Dishes") {

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Foober</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/dishes.css")'>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#">Foober</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li class="active"><a href="#">Dishes</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container text-center">    
		<div class="greeting"><h3>Good afternoon, here are some delicious dishes near you.</h3></div><br>
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card"><a href="#" data-toggle="modal" data-target="#foodModal">
					<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></a>
					<div class="card-block">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<div class="short-div foodName">Food Name</div>
								<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline">Order now</button>
								</div>
							</div>
						</div><br>
						<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<div class="short-div foodName">Food Name</div>
								<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline">Order now</button>
								</div>
							</div>
						</div><br>
						<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<div class="short-div foodName">Food Name</div>
								<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline">Order now</button>
								</div>
							</div>
						</div><br>
						<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
					</div>
				</div>
			</div>
		</div>
	</div><br>

	<!--Modal-->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="foodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="short-div foodNameModal">Food Name</div>
								<div class="short-div creatorModal">Prepared by: Name of Creator</div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
								<div class="priceModal">$10.00</div>
								<div class="arrivalModal">Arrives within 30 min</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-5 col-xs-7">
								<div class="short-div foodDescTitleModal">Taste the freshness</div>
								<div class="short-div foodDescModal"><p>This is a very long description for the food that is shown above. It is so long, in fact, that it goes onto multiple lines. It is so long that most people will not read this entire paragraph. If you are still reading this, then you are the hero that Gotham deserves.</p></div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-7 col-xs-5 imgCover"><img class="img-responsive foodImg" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline">Order now</button>
									<p class="card-text"><small class="text-muted">15 min left</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<footer class="container-fluid text-center">
		<p>© Foober 2016</p>
	</footer>

</body>
</html>


}
