@(cId: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/profile.css")'>

	<!-- Javascript Routes -->
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
		<script>

		function readCookie(name) {
	    var nameEQ = name + "=";
	    var ca = document.cookie.split(';');
	    for(var i=0;i < ca.length;i++) {
	        var c = ca[i];
	        while (c.charAt(0)==' ') c = c.substring(1,c.length);
	        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	    }
	    return null;
		}
		$(document).ready(function(){
			$('#loginedAs').html("Currently logged in as " + readCookie('username'));

			if (readCookie('username') == 'cook') {
				$('#addAdish').show();
			} else {
				$('#addAdish').hide();
			}
		});
		</script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fooberNav">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand navLogo" href="/">Foober</a>
			</div>
			<div class="collapse navbar-collapse" id="fooberNav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" id="loginedAs" style="pointer-events:none;"></a></li>
					<li onclick="document.cookie='username=customer; path=/'; location.reload();"><a href="#"><span class="glyphicon glyphicon-user"></span> Customer Login</a></li>
					<li onclick="document.cookie='username=cook; path=/'; location.reload();"><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Cook Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container text-center mainPane">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card">
					<div class="card-block"><br>
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
								<div class="short-div profileFrame"><img id="cookImg" class="img-circle profilePic" src="http://placehold.it/150x80?text=IMAGE" alt="Profile pic"></div>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 profileTitle text-left">
								<div class="short-div cookName" id="cookName"></div>
								<div class="short-div cookRank">Home Cook</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="pull-left availableDishes">Available dishes</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#addFoodModal" id="addAdish">Add a dish</button>
								</div>
							</div>
						</div><br>

						<!--Phoenix, this is the same code as in the dishes page.  Paste below.-->
						<div class="card-deck-wrapper" id="cur-card-wrapper">
							<div class="card-group">
								<div class="card"><a href="#" data-toggle="modal" data-target="#foodModal">
									<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></a>
									<div class="card-block">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="short-div foodName">Food Name</div>
												<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pull-right">
													<button type="button" class="btn btn-success-outline">Order now</button>
												</div>
											</div>
										</div><br>
										<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
									</div>
								</div>
								<div class="card"><a href="#" data-toggle="modal" data-target="#foodModal">
									<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></a>
									<div class="card-block">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="short-div foodName">Food Name</div>
												<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pull-right">
													<button type="button" class="btn btn-success-outline">Order now</button>
												</div>
											</div>
										</div><br>
										<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
									</div>
								</div>
								<div class="card"><a href="#" data-toggle="modal" data-target="#foodModal">
									<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></a>
									<div class="card-block">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="short-div foodName">Food Name</div>
												<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pull-right">
													<button type="button" class="btn btn-success-outline">Order now</button>
												</div>
											</div>
										</div><br>
										<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
									</div>
								</div>
							</div>
						</div>
						<!--End of section to paste dishes code.-->

						<br>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-left availableDishes">Previous dishes</div>
							</div>
						</div>

						<!--Phoenix, this is the same code as in the dishes page.  Paste below.-->
						<div class="card-deck-wrapper" id="past-card-wrapper">
							<div class="card-group">
								<div class="card">
									<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
									<div class="card-block">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="short-div foodName">Food Name</div>
												<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pull-right">
													<button type="button" class="btn btn-danger-outline" disabled>Sold out</button>
												</div>
											</div>
										</div><br>
										<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
									</div>
								</div>
								<div class="card">
									<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
									<div class="card-block">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="short-div foodName">Food Name</div>
												<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pull-right">
													<button type="button" class="btn btn-danger-outline" disabled>Sold out</button>
												</div>
											</div>
										</div><br>
										<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
									</div>
								</div>
								<div class="card">
									<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
									<div class="card-block">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="short-div foodName">Food Name</div>
												<div class="short-div foodDesc">This is a very long description for the food that is shown above.</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 price">$10.00</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pull-right">
													<button type="button" class="btn btn-danger-outline" disabled>Sold out</button>
												</div>
											</div>
										</div><br>
										<div class="row"><p class="card-text"><small class="text-muted pull-right">*May contain peanuts and dairy products.</small></p></div>
									</div>
								</div>
							</div>
						</div>
						<!--End of section to paste dishes code.-->
					</div>
				</div>
			</div>
		</div>
	</div><br>

	<!--Modal-->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="addFoodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="short-div addDishTitle">Share a new dish</div>
								<div class="short-div addDishInstructions">Complete the following form to let your neighbors know what you've cooked!</div><br>
								<div class="short-div dishName">Dish name</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<form>
									<fieldset class="form-group">
										<input type="text" class="form-control" name="lastname" id="nameOfDish"><br>
										<div class="short-div dishName">How many plates are you making?</div>
										<div class="addDishTitle"><input class="btn btn-default addDishTitle" type="button" value="-" onclick="decrementDishes()"><span id="numberOfDishes"> 5 </span><input class="btn btn-default addDishTitle" type="button" value="+" onclick="incrementDishes()"></div>
										<div class="short-div addDishInstructions">Describe your dish in a few sentences</div>
										<textarea class="form-control" id="descriptionOfDish" rows="4"></textarea>
										<br>
										<div class="short-div addDishTitle">Food allergens</div>
										<div class="short-div addDishInstructions">Be sure to check all boxes that may apply to your dish. Your dish contains:</div><br>
										<div class="row text-left">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<input type="checkbox" id="peanuts" value="pea"> Peanuts <br>
												<input type="checkbox" id="treeNuts" value="tree"> Tree nuts <br>
												<input type="checkbox" id="chocolate" value="choc"> Chocolate <br>
												<input type="checkbox" id="seafood" value="sea"> Seafood <br>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<input type="checkbox" id="gluten" value="glut"> Gluten <br>
												<input type="checkbox" id="soy" value="soy"> Soy <br>
												<input type="checkbox" id="dairy" value="dairy"> Dairy <br>
												<input type="checkbox" id="eggs" value="eggs"> Eggs <br>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
								<!--Add code for drag/drop image here-->
							</div>
						</div><br>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="pull-right">
									<button type="button" class="btn btn-danger-outline" data-dismiss="modal">Cancel</button>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline" onclick="postDish('@cId')">Post dish</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--Modal-->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="foodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<img class="card-img-top img-responsive" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="short-div foodNameModal">Food Name</div>
								<div class="short-div creatorModal">Prepared by: Name of Creator</div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
								<div class="priceModal">$10.00</div>
								<div class="arrivalModal">Arrives within 30 min</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-5 col-xs-7">
								<div class="short-div foodDescTitleModal">Taste the freshness</div>
								<div class="short-div foodDescModal"><p>This is a very long description for the food that is shown above. It is so long, in fact, that it goes onto multiple lines. It is so long that most people will not read this entire paragraph. If you are still reading this, then you are the hero that Gotham deserves.</p></div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-7 col-xs-5 imgCover"><img class="img-responsive foodImg" src="http://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Food pic"></div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-right">
									<button type="button" class="btn btn-success-outline">Order now</button>
									<p class="card-text"><small class="text-muted">15 min left</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<footer class="container-fluid text-center">
		<p>© Foober 2016</p>
	</footer>

	<!-- Custom JavaScript -->
	<script src="@routes.Assets.versioned("javascripts/profile.js")"></script>
	<script>
        $(document).ready(function(){
			setProfilePic('@cId');
            setCookName('@cId');
			setCurPosts('@cId');
			setPastPosts('@cId');
        });
    </script>

</body>
</html>
